* {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.product-card img {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.product-card:hover img {
    transform: scale(1.2);
}
